bdata.20130222.mhci.txt
GSE116500_Limma_adj_4.csv.gz
H938_chr12.geno
H938_chr15.geno
H938_chr2.geno
H938_chr5.geno
H938_Euro_chr6.geno
H938_Euro_chr12.geno
H938_Euro_chr15.geno
H938_Euro_chr2.geno
H938_Euro_chr5.geno
H938_Euro_chr6.geno
H938_chr6.geno
